body {
	background-color: whitesmoke;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.ajout {
	display: flex;
	flex-direction: column;
	height: 370px;
	width: 400px;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius:25px;
	background-color: white;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-ms-border-radius:25px;
	-o-border-radius:25px;
	position: relative;
	margin: auto;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 14vh;
	justify-content: center;
	align-items: center;
}
.ajout p {
	font-size: 20px;
	margin-bottom: 30px;
	border-radius: 15px;
	color: #ffffff;
	pointer-events: none;
	padding: 6px 18px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	background-color: #83F5CE;
	margin-right: auto;
	margin-left: auto;
}

form {
	display: flex;
	flex-direction: column;
}
form div {
	margin-top: 20px;
	margin-bottom: 10px;
}

.in1{
	display: flex;
	justify-content: center;
}

.in1 input {
	width: 400px;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 8px 20px;
	border: none;
	background-color: whitesmoke;
	outline: none;
	opacity: 0.8;
}

.in2 input {
	width: 190px;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 8px 20px;
	border: none;
	background-color: whitesmoke;
	outline: none;
	opacity: 0.8;
	margin-right: 10px;
	margin-left: 10px;
}
.in2{
	display: flex;
	justify-content: center;
}

.but {
	display: flex;
	justify-content: center;
}

.but button{
	border-radius: 15px;
	box-sizing: border-box;
	padding: 8px 20px;
	border: none;
	outline: none;
	opacity: 0.8;
	margin-right: 20px;
	margin-left: 20px;
	cursor: pointer;
}

.b1 {
	background-color: #83F5CE;
	color: #ffffff;
}

.b2{
	background-color: rgb(252, 85, 85);
	color: #ffffff;
}