
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lora:wght@500&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Rokkitt:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/mona-sans');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
body {
	background-color: whitesmoke;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cont {
	display: flex;
	flex-direction: column;
	height: 550px;
	width: 1000px;
	margin: auto;
	margin-top: 55px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius:25px;
	background-color: white;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-ms-border-radius:25px;
	-o-border-radius:25px;
	position: relative;
	margin: auto;
	margin-top: 5vh;
	overflow-x: hidden;
    overflow-y: auto;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 30px 60px 10px 60px;
}

.search {
	display: flex;
}

.nav button {
	border-radius: 15px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	padding: 8px 20px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border: none;
	background-color: #83F5CE;
}
.search button {
	border-radius: 10px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	padding: 8px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border: none;
	background-color: #83F5CE;
	margin-left: 20px;
}
.nav button img {
	width: 15px;
	height: 15px;
}

.nav input{
	border-radius: 15px;
	box-sizing: border-box;
	padding: 8px 20px;
	border: none;
	background-color: whitesmoke;
	outline: none;
	background-image: url(/assets/search-interface-symbol\ \(1\).png);
    background-repeat: no-repeat;
    text-indent: 20px;
	background-size: 15px 15px;
	background-position: 12px 8px;
	opacity: 0.8;
}

.ajout2 button a {
	text-decoration: none;
	color: #ffffff;
}

table {
	width: 90%;
	text-align: center;
	margin: 20px;
	margin-left: 30px;
}

table th {
	width: 10%;
	opacity: 0.4;
	font-weight: 100;
	border: whitesmoke;
	border-width: 0px 0px 0.5px 0px;
}
table td {
	width: 10%;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	font-weight: 500;
	border: solid whitesmoke;
	border-width: 0.5px 0;
}
hr {
	border-top: 1px solid whitesmoke;
}
tr {
	line-height: 40px;
}
.solde{
	background-color: red;
	padding: 6px 20px;
	opacity: 0.5;
}
.actif{
	background-color: #83F5CE;
}
td button {
	border-radius: 15px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	padding: 6px 14px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border: none;
	opacity: 0.7;
	margin-bottom: 8px;
}

.opt form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.opt button {
	padding: 0 0;
	background-color: transparent;
	cursor: pointer;
	opacity: 1;
}

.img1 {
	width: 25px;
	height: 25px;
	opacity: 0.8;
	margin-right: 10px;
}

.img2 {
	width: 27px;
	height: 25px;
	opacity: 0.8;
}